span{
	font-family: "Maitree";
}

/*========================================================================
==========================   SIDEBAR  ====================================
========================================================================*/



		/*Center Body*/

img#ic_img{
	float: left;
	margin-left: 10px;
	background-image: url("Image/window.svg");
	height: 50px;
	padding: 5px;
	box-sizing: border-box;
}
div#hd{
	margin-left: 30px;
}

img#header_center_bd{
	box-shadow: 1px 1px 1px;
	border-radius: 5px;
	margin: 10px;
	width: 600px;
	max-height: 60px;
}

span#wd{
	display: inline;
	font-weight: bold;
	font-size: 24px;
}

input#search_frame{
	width: 100%;
	margin: 20px;
	border-radius: 5px;
}
button#btn_search{
	width: 50%;
	margin: 15px;
	font-weight: bold;
}

button.tab{
	margin: 20px;
	border-radius: 5px;
	height: 40px;
}

div.user{
	margin-left: 30px;
	/*border-radius: 5px;*/
	/*box-shadow: 1px 1px 1px 1px;*/
	margin-right: 20px;
}

div img.img_star{
	height: 15px;
}

/*========================================================================
==========================   PRODUCT  ====================================
========================================================================*/


/* ===================== title ===================== */

div#title{
	width: 100%;
	height: 60px;
	background-image: url("../image/bg3.png");
	background-size: 123px 60px;
	background-repeat: repeat-x;
	margin-left: 0;
	margin: 0 auto;
	margin-bottom: 50px;
}

div#title div.title-content{
	display: inline;
	float: left;
	margin-left: 20px;
}

img.product-icon{
	width: 30px;
	display: inline;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

ul.product-link{
	list-style: none;
	display: inline;
}

ul.product-link li{
	display: inline;
	text-decoration: none;
}

ul.product-link li a{
	font-size: 10px;
}

ul.product-link li:after{
	content: " >";
}

ul.product-link li:last-child:after{
	content: "";
}

div#title h2{
	font-family: "Maitree";
	margin-top: 10px;
}


/* ===================== product information ===================== */

div.product{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px 20px 20px 20px;
	border: 1px rgba(235,235,235,1) solid;
	border-radius: 10px;
	background-color: white;
}

div.product-item{
	margin-bottom: 70px;
}

div.product-content{
}

img.product-logo{
	float: left;
	display: inline;
	margin-left: 20px;
}

div.product-information{
	float: left;
	display: inline-block;
	margin-left: 20px;
}

div.product-download{
	margin-top: 60px;
}

div.product-information h5{
	font-family: "Maitree";
	margin-top: 0;
}

div.rating{
	margin-bottom: 10px;
}

div.rating span{
	font-family: "Sanfrancisco";
}

ul.inf{
	padding: 0px;
	list-style: none;
}
ul.inf li{

	display: inline;
}
ul.inf li:after{
	content: ",";
}
ul.inf li:last-child:after{
	content: "";
}

/* ===================== paging ===================== */

ul.paging{
	list-style: none;
	margin: 20px auto;
	text-align: center;
}

ul.paging li{
	display: inline;
}

ul.paging li .button{

	text-decoration: none;
	margin-right: 0px;
	width: 30px;
	height: 30px;
	border: 1px #7a9d96 solid;
	border-radius: 5px;
	background-color: #ebebeb;
	text-align: center;
}

ul.paging li .active{
	background-color: #7a9d96;
}

/*========================================================================
==========================   RATING  ====================================
========================================================================*/



/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.bxh{
		margin-left: 0;
	}
	.bxh tr td:last-child{
		padding-right: 5px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.bxh{
		text-align: center;
	}
	.bxh table{
		display: inline;
	}
	div.item{
		text-align: center;
		margin-left: 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}
@media only screen and (max-width : 594px) {
	.btn-download{
		margin: 20px 0 30px 110px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 448px) {
	.btn-download{
		margin: 20px 0 0 20px;
	}
	.product-logo{
		margin-bottom: 20px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}